@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
	--orange: #f7c36d;
	--red: #f7966e;
	--green: #dee78b;
	--background: #ffffff;
	--dark: #232323;
	--appear-time: 150ms;
	--main-s-elements-width: 96%;
	--font: 'Rubik', sans-serif;
}

* {
	margin: 0px;
}

body {
	background-color: var(--background);
	font-family: var(--font);
}

nav {
	position: fixed;
	width: 100px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background);
	border-right: 2px dotted lightgray;
}

nav h1 {
	padding: 30px 0;
}

.container {
	width: 100%;
}

/* ----- buttons ----- */

.btn {
	font-size: 1.8rem;
	border: none;
	display: flex;
	place-content: center;
	padding: 14.8px 16px;
	cursor: pointer;
}

/* BIG BUTTON */

.btn-add {
	color: var(--background);
	background-color: var(--dark);
	border-radius: 50%;
	transition: transform ease-in-out 250ms;
	margin-bottom: 34px;
}

.clicked {
	transform: rotate(135deg);
}

/* buttons used to edit the notes */

.btn-edit {
	border: none;
	background-color: var(--dark);
	color: white;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	cursor: pointer;
}

.edit {
	position: absolute;
	bottom: 10px;
	right: 20px;
	padding: 5px 5px 5px 7px;
	transition: opacity 150ms ease-in;
	opacity: 0;
}

.btn-discard {
	font-size: 1.1em;
	background-color: #ff2c2c;
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 5px;
}

.btn-save {
	font-size: 1.1em;
	background-color: #3fc900;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 4px;
}

.btn-create-note {
	background-color: var(--dark);
	position: absolute;
	font-size: 1.1rem;
	bottom: 20px;
	right: 20px;
	color: var(--background);
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

/* options */

.option {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-bottom: 24px;
	border: none;
	cursor: pointer;
	transform: translateY(-18px);
	opacity: 0;
}

/* the color option buttons that show when big create button is clicked */

.option-red {
	animation: appear var(--appear-time) ease-in 0s forwards;
	transform: translateY(-52px);
}
.option-orange {
	animation: appear var(--appear-time) ease-in 150ms forwards;
}
.option-green {
	animation: appear var(--appear-time) ease-in 300ms forwards;
}

.option-blue {
	animation: appear var(--appear-time) ease-in 450ms forwards;
}

.option-purple {
	animation: appear var(--appear-time) ease-in 600ms forwards;
}

.option-selected {
	box-shadow: 0px 0px 0px 3px var(--dark);
}

/* sign in buttons */

.auth-button {
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	background-color: white;
	cursor: pointer;
	transition: color 100ms ease-in;
	margin-top: auto;
	margin-bottom: 60px;
}

.sign-in {
	--green-here: #7c8150;
	border: 1px solid var(--green-here);
	color: var(--green-here);
}

.sign-in:hover,
.sign-in:focus {
	color: black;
}

.sign-out {
	--red-here: #85543f;
	border: 1px solid var(--red-here);
	color: var(--red-here);
}

.sign-out:hover,
.sign-out:focus {
	color: black;
}

/* ---- MAIN CONTENT ---- */

#main {
	width: calc(100% - 105px);
	margin-left: 105px;
	position: relative;
}

#main .sign-in-alert {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main .search-section {
	width: var(--main-s-elements-width);
	margin: 0 auto;
	padding: 34px 0px;
	border: none;
}

#main input {
	border: none;
	width: 300px;
}

#main input:focus {
	outline: none;
	border-bottom: 1px solid gray;
}

.notes {
	max-width: var(--main-s-elements-width);
	margin: 0 auto;
	columns: 1;
}

.note {
	grid-gap: 30px;
	padding: 30px;
	border-radius: 15px;
	break-inside: avoid-column;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}

.note .text {
	padding-bottom: 26px;
}

.note:hover .btn-edit {
	opacity: 1;
}

.note .edit-op-con {
	display: flex;
	position: absolute;
	bottom: 30px;
	right: 20px;
}

.note .edit-op-con button + button {
	margin-left: 5px;
}

.new-note {
	min-height: 80px;
	position: relative;
	transition: background-color 100ms linear;
}

.note-input {
	font-family: var(--font);
	resize: none;
	background-color: transparent;
	border: none;
	overflow: auto;
	margin-bottom: 25px;
	width: 100%;
	overflow: hidden;
}

.note-input:focus {
	outline: none;
}

.notes-loading {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.notes-loading .spinner {
	animation: spin 1500ms linear 0s infinite;
	font-size: 4rem;
	color: var(--green);
}

/* ----- Background Colors -----*/

.bg-green {
	background-color: var(--green);
}
.bg-red {
	background-color: var(--red);
}
.bg-orange {
	background-color: var(--orange);
}

.bg-orange {
	background-color: var(--orange);
}

.bg-blue {
	background-color: #00d5ff;
}

.bg-purple {
	background-color: #b593fb;
}

/* ----- MEDIA ----- */

@media (min-width: 800px) {
	.notes {
		columns: 2;
	}
}

@media (min-width: 1100px) {
	.notes {
		columns: 3;
	}
}

@media (min-width: 1400px) {
	.notes {
		columns: 4;
	}
}

@media (min-width: 1700px) {
	.notes {
		columns: 5;
	}
}

@media (min-width: 1900px) {
	.notes {
		columns: 6;
	}
}

/* ----- ANIMATIONS ----- */

@keyframes appear {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}

	0% {
		color: var(--green);
	}
	40% {
		color: var(--orange);
	}
	80% {
		color: var(--red);
	}
}
